@section title {
<title>Contacto</title>
}


@section navlinks {
<li class="nav-item">
    <a asp-controller="Citas" asp-action="CitasIndex" class="nav-link">Concertar Cita</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="QuienesSomos" asp-action="QuienesSomosVista">Quienes Somos</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-controller="Contacto" asp-action="ContactoVista">Contacto</a>
</li>
}

<h1>Contacto</h1>