@model Calendario
<!--Titulo de la pagina-->
@section title {
    <title>Citas</title>
}

@section estilos {
    <link href="~/css/calendario.css" rel="stylesheet" />
    <link href="~/css/cover-img-style.css" rel="stylesheet" />
}

@section navlinks {
    <li class="nav-item">
        <a asp-controller="Citas" asp-action="CitasIndex" class="nav-link">Concertar Cita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="QuienesSomos" asp-action="QuienesSomosVista">Quienes Somos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Contacto" asp-action="ContactoVista">Contacto</a>
    </li>
}

@section scripts {

    <!-- Documentacion para el calendario
    https://www.jqueryscript.net/time-clock/powerful-calendar.html -->
    <script src="~/js/calendario.js"></script>

    <!-- Script que se encarga de gestionar el calendario -->
    <script>

        //CODIGO DE PRUEBA PARA GENERAR DIAS DISABLED
        let fechas = [];
        @foreach(DateTime dt in Model.DiasOcupados)
        {
            <text>
                fechas.push(new Date('@dt.Year' + '-' + '@dt.Month' + '-' + '@dt.Day') );
            </text>
        }


        //Funcion que se encarga de actualizar el dia seleccionado de forma visual
        //function selectDate(date) {
        //    console.log(date)
        //    var date2 = new Date(date);
        //    console.log(date2.toLocaleString())

        //    $('#calendar-wrapper').updateCalendarOptions({
        //        date: date
        //    });
        //}

        //Funcion que recibe un string que representa la fecha seleccionada, este se ejecuta cada vez que se selecciona una fecha en el calendario
        function selectDate(date) {
            //Llamada al metodo que actualiza las opciones del calendario
            $('#calendar-wrapper').updateCalendarOptions({
                date: date,
            });

            //Guardo el string con la fecha seleccionada en el input 'cita', este input envia por post la fecha seleccionada para trabajar en otra view con ella
            $('input[name="cita"]').val(date);

            if ($("#btnconcertarcita[hidden]")) {
                $("#btnconcertarcita").removeAttr("hidden");
            } else {
                $("#btnconcertarcita").attr("hidden");
            }
        }

        //Variable calendario que gestiona todo el calendario
        var calendar = $('.calendar-wrapper').calendar({
            date: new Date(),
            onClickDate: selectDate,
            showTodayButton: true,
            todayButtonContent: "Hoy",
            prevButton: "<",
            nextButton: ">",
            min: new Date(),
            startOnMonday: true,
            disable: function (date) {
                //Funcion que se encarga de desactivar los dias recibidos en el modelo 'DiasOcupados' y los fines de semana
                var disabled = false;
                fechas.forEach(element => {
                    //Si la fecha coincide con un dia ocupado lo deshabilito
                    if (date.getDate() == element.getDate() &&
                        date.getMonth() == element.getMonth() &&
                        date.getFullYear() == element.getFullYear()) {
                        disabled = true;
                    }

                    //Si es fin de semana lo deshabilito
                    if (date.getDay() == 0 || date.getDay() == 6) {
                        disabled = true;
                    }
                });

                //Devuelvo si desactivo la fecha o no
                return disabled;
            },
        });
    </script>
}

<div id="header-citas" class="bg-overlay">
    <div class="row text-center">
        <h2 class="text-white">
            Si quieres, puedes concertar una cita con nosotros. Pidela ahora sin compromiso! Tambien puedes
            <a asp-controller="Citas" asp-action="ListadoCitas" class="link-info">
                consultar tus citas
            </a>
        </h2>


    </div>
</div>

<!-- Wrapper para el calendario -->
<div class="p-5 m-5 calendar-wrapper" id="calendar-wrapper"></div>

<!-- Formulario para la fecha seleccionada -->
<div class="container bg-light">
    <div class="col-md-12 text-center">
        <form method="post">
            <input type="text" name="cita" hidden />
            <button type="submit" id="btnconcertarcita" class="btn btn-success" hidden>
                Pedir cita
            </button>
        </form>
    </div>
</div>
