@model Calendario

@section title {
    <title>Citas</title>
}

@section estilos {
    <link href="~/css/calendario.css" rel="stylesheet"/>
}


@section scripts {

    <!-- Documentacion para el calendario
    https://www.jqueryscript.net/time-clock/powerful-calendar.html -->
    <script src="~/js/calendario.js"></script>

    <!-- Script que se encarga de gestionar el calendario -->
    <script>

          //CODIGO DE PRUEBA PARA GENERAR DIAS DISABLED
        let fechas = [];
        @foreach(DateTime dt in Model.DiasOcupados)
        {
            <text>
                fechas.push(new Date('@dt.Year' + '-' + '@dt.Month' + '-' + '@dt.Day') );
            </text>
        }


           //Funcion que se encarga de actualizar el dia seleccionado de forma visual
        //function selectDate(date) {
        //    console.log(date)
        //    var date2 = new Date(date);
        //    console.log(date2.toLocaleString())

        //    $('#calendar-wrapper').updateCalendarOptions({
        //        date: date
        //    });
        //}


        function selectDate(date) {
            $('#calendar-wrapper').updateCalendarOptions({
                date: date,
            });
           //GUARDAR la fecha seleccionada para enviarla con el post en el submit de mas abajo
            //Puedo meter un input disabled con la fecha
        }
        //https://www.jqueryscript.net/time-clock/powerful-calendar.html    
        //Calendario     
        var calendar = $('.calendar-wrapper').calendar({
            date: new Date(),
            onClickDate: selectDate,
            showTodayButton: true,
            todayButtonContent: "Hoy",
            prevButton: "<",
            nextButton: ">",
            min: new Date(),
            startOnMonday: true,
            disable: function (date) {
                var disabled = false;
                //console.log(date.getMonth())
                fechas.forEach(element => {
                    //console.log("---------- siguiente ---------")
                    //console.log(" recorro -> " + element.getDate() + "/" + element.getMonth() + "/" + element.getFullYear() + " y comparo con -> " + date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear())
                    if (date.getDate() == element.getDate() &&
                        date.getMonth() == element.getMonth() &&
                        date.getFullYear() == element.getFullYear()) {
                        //console.log("Es igual")
                        disabled = true;
                    }

                    if (date.getDay() == 0 || date.getDay() == 6) {
                        disabled = true;
                    }
                });
                //console.log("return -> " + disabled)
                return disabled;
            },
        });
    </script>
}


<h1>Calendario</h1>
<div class="p-5 m-5 calendar-wrapper" id="calendar-wrapper"></div>

<form method="post">
    <button type="submit" id="btnconcertarcita" class="btn btn-success">
        Pedir cita
    </button>
</form>
           