@model Calendario
<!--Titulo de la pagina-->
@section title {
    <title>Citas</title>
}

@section estilos {
    <link href="~/css/calendario.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/cover-img-style.css" rel="stylesheet" />
}

@section navlinks {
    <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
    <a class="nav-item nav-link active" asp-controller="Citas" asp-action="CitasIndex">Concertar Cita</a>
    <a class="nav-item nav-link" asp-controller="QuienesSomos" asp-action="QuienesSomosVista">Quienes Somos</a>
    <a class="nav-item nav-link" asp-controller="Contacto" asp-action="ContactoVista">Contacto</a>
}

@section scripts {

    <!-- Documentacion para el calendario
    https://www.jqueryscript.net/time-clock/powerful-calendar.html -->
    <script src="~/js/calendario.js"></script>

    <!-- Script que se encarga de gestionar el calendario -->
    <script>

        //CODIGO DE PRUEBA PARA GENERAR DIAS DISABLED
        let fechas = [];
        @foreach(DateTime dt in Model.DiasOcupados)
        {
            <text>
                fechas.push(new Date('@dt.Year' + '-' + '@dt.Month' + '-' + '@dt.Day') );
            </text>
        }


        //Funcion que se encarga de actualizar el dia seleccionado de forma visual
        //function selectDate(date) {
        //    console.log(date)
        //    var date2 = new Date(date);
        //    console.log(date2.toLocaleString())

        //    $('#calendar-wrapper').updateCalendarOptions({
        //        date: date
        //    });
        //}

        //Funcion que recibe un string que representa la fecha seleccionada, este se ejecuta cada vez que se selecciona una fecha en el calendario
        function selectDate(date) {
            //Llamada al metodo que actualiza las opciones del calendario
            $('#calendar-wrapper').updateCalendarOptions({
                date: date,
            });

            //Guardo el string con la fecha seleccionada en el input 'cita', este input envia por post la fecha seleccionada para trabajar en otra view con ella
            $('input[name="cita"]').val(date);

            if ($("#btnconcertarcita[hidden]")) {
                $("#btnconcertarcita").removeAttr("hidden");
            } else {
                $("#btnconcertarcita").attr("hidden");
            }
        }

        //Variable calendario que gestiona todo el calendario
        var calendar = $('.calendar-wrapper').calendar({
            date: new Date(),
            onClickDate: selectDate,
            showTodayButton: false,
            prevButton: "Anterior",
            nextButton: "Siguiente",
            min: new Date(),
            startOnMonday: true,
            disable: function (date) {
                //Funcion que se encarga de desactivar los dias recibidos en el modelo 'DiasOcupados' y los fines de semana
                var disabled = false;
                fechas.forEach(element => {
                    //Si la fecha coincide con un dia ocupado lo deshabilito
                    if (date.getDate() == element.getDate() &&
                        date.getMonth() == element.getMonth() &&
                        date.getFullYear() == element.getFullYear()) {
                        disabled = true;
                    }

                    //Si es fin de semana lo deshabilito
                    if (date.getDay() == 0 || date.getDay() == 6) {
                        disabled = true;
                    }
                });

                //Devuelvo si desactivo la fecha o no
                return disabled;
            },
        });
    </script>
}

<!-- Cabecera de pagina Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Concertar cita</h1>
    </div>
</div>
<!-- Cabecera de pagina End -->

<!-- Texto de la pagina inicio -->
<div class="text-center p-4">
    <h5 style="font-size: 1.5em;" class="display-3 mb-3 animated slideInDown">
        ¡Pídela ahora sin compromiso! También puedes consultar tus citas en
        <a asp-controller="Manage" asp-action="PerfilUsuario">
            tu perfil
        </a>
    </h5>
</div>
<!-- Texto de la pagina final -->

<!-- Contenedor de calendario de cita-->
<div class="bg-light">
    <div class="row ">
        <div class="col-sm-2"></div>
        <!-- Wrapper para el calendario -->
        <div class="col-12 col-sm-8 p-5 calendar-wrapper wow fadeUp" id="calendar-wrapper"></div>
        <div class="col-sm-2"></div>
    </div>

    <!-- Formulario para la fecha seleccionada -->
    <div class="container p-2">
        <div class="col-md-12 text-center">
            <form method="post">
                <input type="text" name="cita" hidden />
                <button type="submit" id="btnconcertarcita" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft" hidden>
                    Pedir cita
                </button>
            </form>
        </div>
    </div>
</div>
<!-- Fin contenedor de calendario de cita -->
