@{
    string[] razas = {
        "Otra no especificada" ,
        "Cruce de razas" ,
        "Affenpinscher",
        "Airedale terrier",
        "Akita",
        "Akita americano",
        "Alaskan Husky",
        "Alaskan malamute",
        "American Foxhound",
        "American pit bull terrier",
        "American staffordshire terrier",
        "Ariegeois",
        "Artois",
        "Australian silky terrier",
        "Australian Terrier",
        "Austrian Black & Tan Hound",
        "Azawakh",
        "Balkan Hound",
        "Basenji",
        "Basset Alpino(Alpine Dachsbracke)",
        "Basset Artesiano Normando",
        "Basset Azul de Gascuña(Basset Bleu de Gascogne)",
        "Basset de Artois",
        "Basset de Westphalie",
        "Basset Hound",
        "Basset Leonado de Bretaña(Basset fauve de Bretagne)",
        "Bavarian Mountain Scenthound",
        "Beagle",
        "Beagle Harrier",
        "Beauceron",
        "Bedlington Terrier",
        "Bichon Boloñes",
        "Bichón Frisé",
        "Bichón Habanero",
        "Billy",
        "Black and Tan Coonhound",
        "Bloodhound(Sabueso de San Huberto)",
        "Bobtail",
        "Boerboel",
        "Border Collie",
        "Border terrier",
        "Borzoi",
        "Bosnian Hound",
        "Boston terrier",
        "Bouvier des Flandres",
        "Boxer",
        "Boyero de Appenzell",
        "Boyero de Australia",
        "Boyero de Entlebuch",
        "Boyero de las Ardenas",
        "Boyero de Montaña Bernes",
        "Braco Alemán de pelo corto",
        "Braco Alemán de pelo duro",
        "Braco de Ariege",
        "Braco de Auvernia",
        "Braco de Bourbonnais",
        "Braco de Saint Germain",
        "Braco Dupuy",
        "Braco Francés",
        "Braco Italiano",
        "Broholmer",
        "Buhund Noruego",
        "Bull terrier",
        "Bulldog americano",
        "Bulldog inglés",
        "Bulldog francés",
        "Bullmastiff",
        "Ca de Bestiar",
        "Cairn terrier",
        "Cane Corso",
        "Cane da Pastore Maremmano-Abruzzese",
        "Caniche(Poodle)",
        "Caniche Toy(Toy Poodle)",
        "Cao da Serra de Aires",
        "Cao da Serra de Estrela",
        "Cao de Castro Laboreiro",
        "Cao de Fila de Sao Miguel",
        "Cavalier King Charles Spaniel",
        "Cesky Fousek",
        "Cesky Terrier",
        "Chesapeake Bay Retriever",
        "Chihuahua",
        "Chin",
        "Chow Chow",
        "Cirneco del Etna",
        "Clumber Spaniel",
        "Cocker Spaniel Americano",
        "Cocker Spaniel Inglés",
        "Collie Barbudo",
        "Collie de Pelo Cort",
        "Collie de Pelo Largo",
        "Cotón de Tuléar",
        "Curly Coated Retriever",
        "Dálmata",
        "Dandie dinmont terrier",
        "Deerhound",
        "Dobermann",
        "Dogo Argentino",
        "Dogo de Burdeos",
        "Dogo del Tibet",
        "Drentse Partridge Dog",
        "Drever",
        "Dunker",
        "Elkhound Noruego",
        "Elkhound Sueco",
        "English Foxhound",
        "English Springer Spaniel",
        "English Toy Terrier",
        "Epagneul Picard",
        "Eurasier",
        "Fila Brasileiro",
        "Finnish Lapphound",
        "Flat Coated Retriever",
        "Fox terrier de pelo de alambre",
        "Fox terrier de pelo liso",
        "Foxhound Inglés",
        "Frisian Pointer",
        "Galgo Español",
        "Galgo húngaro(Magyar Agar)",
        "Galgo Italiano",
        "Galgo Polaco(Chart Polski)",
        "Glen of Imaal Terrier",
        "Golden Retriever",
        "Gordon Setter",
        "Gos d'Atura Catalá",
        "Gran Basset Griffon Vendeano",
        "Gran Boyero Suizo",
        "Gran Danés(Dogo Aleman)",
        "Gran Gascón Saintongeois",
        "Gran Griffon Vendeano",
        "Gran Munsterlander",
        "Gran Perro Japonés",
        "Grand Anglo Francais Tricoleur",
        "Grand Bleu de Gascogne",
        "Greyhound",
        "Griffon Bleu de Gascogne",
        "Griffon de pelo duro(Grifón Korthals)",
        "Griffon leonado de Bretaña",
        "Griffon Nivernais",
        "Grifon Belga",
        "Grifón de Bruselas",
        "Haldenstoever",
        "Harrier",
        "Hokkaido",
        "Hovawart",
        "Husky Siberiano(Siberian Husky)",
        "Ioujnorousskaia Ovtcharka",
        "Irish Glen of Imaal terrier",
        "Irish soft coated wheaten terrier",
        "Irish terrier",
        "Irish Water Spaniel",
        "Irish Wolfhound",
        "Jack Russell terrier",
        "Jindo Coreano",
        "Kai",
        "Keeshond",
        "Kelpie australiano(Australian kelpie)",
        "Kerry blue terrier",
        "King Charles Spaniel",
        "Kishu",
        "Komondor",
        "Kooiker",
        "Kromfohrländer",
        "Kuvasz",
        "Labrador Retriever",
        "Lagotto Romagnolo",
        "Laika de Siberia Occidental",
        "Laika de Siberia Oriental",
        "Laika Ruso Europeo",
        "Lakeland terrier",
        "Landseer",
        "Lapphund Sueco",
        "Lebrel Afgano",
        "Lebrel Arabe(Sloughi)",
        "Leonberger",
        "Lhasa Apso",
        "Lowchen(Pequeño Perro León)",
        "Lundehund Noruego",
        "Malamute de Alaska",
        "Maltés",
        "Manchester terrier",
        "Mastiff",
        "Mastín de los Pirineos",
        "Mastín Español",
        "Mastín Napolitano",
        "Mudi",
        "Norfolk terrier",
        "Norwich terrier",
        "Nova Scotia duck tolling retriever",
        "Ovejero alemán",
        "Otterhound",
        "Rafeiro do Alentejo",
        "Ratonero Bodeguero Andaluz",
        "Retriever de Nueva Escocia",
        "Rhodesian Ridgeback",
        "Ridgeback de Tailandia",
        "Rottweiler",
        "Saarloos",
        "Sabueso de Hamilton",
        "Sabueso de Hannover",
        "Sabueso de Hygen",
        "Sabueso de Istria",
        "Sabueso de Posavaz",
        "Sabueso de Schiller(Schillerstovare)",
        "Sabueso de Smaland(Smalandsstovare)",
        "Sabueso de Transilvania",
        "Sabueso del Tirol",
        "Sabueso Español",
        "Sabueso Estirio de pelo duro",
        "Sabueso Finlandés",
        "Sabueso Francés blanco y negro",
        "Sabueso Francés tricolor",
        "Sabueso Griego",
        "Sabueso Polaco(Ogar Polski)",
        "Sabueso Serbio",
        "Sabueso Suizo",
        "Sabueso Yugoslavo de Montaña",
        "Sabueso Yugoslavo tricolor",
        "Saluki",
        "Samoyedo",
        "San Bernardo",
        "Sarplaninac",
        "Schapendoes",
        "Schipperke",
        "Schnauzer estándar",
        "Schnauzer gigante(Riesenschnauzer)",
        "Schnauzer miniatura(Zwergschnauzer)",
        "Scottish terrier",
        "Sealyham terrier",
        "Segugio Italiano",
        "Seppala Siberiano",
        "Setter Inglés",
        "Setter Irlandés",
        "Setter Irlandés rojo y blanco",
        "Shar Pei",
        "Shiba Inu",
        "Shih Tzu",
        "Shikoku",
        "Skye terrier",
        "Slovensky Cuvac",
        "Slovensky Kopov",
        "Smoushond Holandés",
        "Spaniel Alemán(German Wachtelhund)",
        "Spaniel Azul de Picardía",
        "Spaniel Bretón",
        "Spaniel de Campo",
        "Spaniel de Pont Audemer",
        "Spaniel Francés",
        "Spaniel Tibetano",
        "Spinone Italiano",
        "Spítz Alemán",
        "Spitz de Norbotten(Norbottenspets)",
        "Spitz Finlandés",
        "Spitz Japonés",
        "Staffordshire bull terrier",
        "Staffordshire terrier americano",
        "Sussex Spaniel",
        "Teckel(Dachshund)",
        "Tchuvatch eslovaco",
        "Terranova(Newfoundland)",
        "Terrier australiano(Australian terrier)",
        "Terrier brasilero",
        "Terrier cazador alemán",
        "Terrier checo(Ceský teriér)",
        "Terrier galés",
        "Terrier irlandés(Irish terrier)",
        "Terrier japonés(Nihon teria)",
        "Terrier negro ruso",
        "Terrier tibetano",
        "Tosa",
        "Viejo Pastor Inglés",
        "Viejo Pointer Danés(Old Danish Pointer)",
        "Vizsla",
        "Volpino Italiano",
        "Weimaraner",
        "Welsh springer spaniel",
        "Welsh Corgi Cardigan",
        "Welsh Corgi Pembroke",
        "Welsh terrier",
        "West highland white terrier",
        "Whippet",
        "Wirehaired solvakian pointer",
        "Xoloitzcuintle",
        "Yorkshire Terrier"
    };
}

@section title {
    <title>Concertar cita</title>
}

@section navlinks {
    <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
    <a class="nav-item nav-link active" asp-controller="Citas" asp-action="CitasIndex">Concertar Cita</a>
    <a class="nav-item nav-link" asp-controller="QuienesSomos" asp-action="QuienesSomosVista">Quienes Somos</a>
    <a class="nav-item nav-link" asp-controller="Contacto" asp-action="ContactoVista">Contacto</a>
}


<!-- Page Header Start -->
<div class="container-fluid page-header py-5 ">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Concertar cita</h1>
    </div>
</div>
<!-- Page Header End -->

<!-- Quote Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0">
    <div class="container  px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-1"></div>
            <div class="col-lg-10 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <p class="mb-4">Rellene el siguiente formulario para concertar la cita. Los campos marcados con <strong>*</strong> son obligatorios</p>
                    <form method="post">
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Fecha de la cita" style="height: 55px;" name="fechacita" value="@ViewBag.fechacita" readonly />
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Telefono de contacto *" style="height: 55px;" name="telefonocontacto" required />
                            </div>

                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Nombre del perro *" style="height: 55px;" name="nombreperro" required />
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" style="height: 55px;" name="razaperro" required="required">
                                    <option value="" selected disabled>Selecciona una raza *</option>
                                    @foreach (String raza in razas)
                                    {
                                        <option value="@raza">@raza</option>
                                    }
                                </select>
                            </div>

                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="Motivo de la cita *" name="motivocita" rows="3" maxlength="255" required></textarea>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="Objetivo de la cita, que quiere conseguir con la sesión" name="objetivocita" rows="3" maxlength="255"></textarea>
                            </div>

                            <div class="col-6">
                                <button type="submit" class="btn btn-primary w-100 py-3">
                                    Pedir cita
                                </button>
                            </div>
                            <div class="col-6">
                                <a asp-controller="Citas" asp-action="CitasIndex" class="btn btn-dark w-100 py-3">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-1"></div>

        </div>
    </div>
</div>
<!-- Quote End -->
