@model List<Cita>

@section title {
    <title>Citas</title>
}


@section navlinks {
    <li class="nav-item">
        <a asp-controller="Citas" asp-action="CitasIndex" class="nav-link">Concertar Cita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="QuienesSomos" asp-action="QuienesSomosVista">Quienes Somos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Contacto" asp-action="ContactoVista">Contacto</a>
    </li>
}

<h1>
    Citas concertadas
</h1>

@if (Model != null)
{
    foreach (Cita c in Model)
    {
        <div class="card m-5">
            <div class="card-header">
                Fecha de la cita: @c.FechaCita.Date
            </div>
            <div class="card-body">
                <h5 class="card-title">Cita para: @c.NombrePerro</h5>
                <p class="card-text">Motivo: @c.MotivoCita</p>

            </div>
        </div>
    }

} else
{
    <h2>No tienes citas</h2>
}


