@section navlinks {
    <a class="nav-item nav-link active" asp-controller="Home" asp-action="Index">Inicio</a>
    <a class="nav-item nav-link" asp-controller="Citas" asp-action="CitasIndex">Concertar Cita</a>
    <a class="nav-item nav-link" asp-controller="QuienesSomos" asp-action="QuienesSomosVista">Quienes Somos</a>
    <a class="nav-item nav-link" asp-controller="Contacto" asp-action="ContactoVista">Contacto</a>
    <a class="nav-item nav-link" asp-controller="Manage" asp-action="PerfilUsuario">Iniciar Sesión</a>
}
<h1>perfil sispau</h1>