<a class="btn btn-outline-info" href="##" onClick="history.go(-1); return false;">
    Volver
</a>

<h2 class="text-warning">
    Para poder pedir y consultar citas debe de estar registrado
</h2>

<a asp-controller="Login" asp-action="SignUp" class="btn btn-info">Registrarse</a>