/* Hoja de estilos para la imagen de portada*/
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('/images/coverimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 400px;
    padding-top: 150px;
}
