@*<!-- #region EJEMPLOS PARA PROBAR -->
    @*JUMBOTRON CON IMAGEN DE FONDO PARA LA PORTADA*@
@*<div class="p-5 text-center bg-image rounded-3"
         style=" background-image: url('http://www.australia.com/contentimages/about-landscapes-nature.jpg'); height: 400px; ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Heading</h1>
                    <h4 class="mb-3">Subheading</h4>
                    <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
                </div>
            </div>
        </div>
    </div>*@
<!-- #endregion -->a

@section title {
    <title>Home</title>
}

@section estilos {
    <link href="~/css/cover-img-style.css" rel="stylesheet" />
}

@section navlinks {
    <li class="nav-item">
        <a class="nav-link" href="#container-concertar-cita">Concertar Cita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#container-quienessomos-contacto">Quienes Somos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#container-quienessomos-contacto">Contacto</a>
    </li>
}

<!-- #region Contenedor imagen de portada -->
<div id="header-home" class="bg-overlay w-100">
    <div class="row text-center">
        <h1>Logo</h1>
        <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h4>

    </div>
</div>
<!-- #endregion Cntenedor imagen de portada -->
<!-- #region Contenedores contenido home -->
<div class="m-5">

    <!-- #region Jumbotron concertar cita -->
    <div class="p-5 mb-4 bg-light rounded-3" id="container-concertar-cita">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">¿Lorem ipsum dolor sit?</h1>
            <p class="col-md-8 fs-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste exercitationem quos maxime cupiditate soluta architecto possimus
            </p>
            <a asp-controller="Citas" asp-action="CitasIndex" class="btn btn-primary btn-lg" >Concertar citas</a>
        </div>
    </div>
    <!--#endregion -->
    <!-- #region Contenedor quienes somos y contacto-->
    <div class="row align-items-md-stretch" id="container-quienessomos-contacto">

        <!-- #region Jumbotron quienes somos -->
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Quienes somos</h2>
                <p>
                    Lorem ipsum ea illo error rerum magnam accusantium consequatur tempore iusto, laborum natus, eos reprehenderit.
                </p>
                <a asp-controller="QuienesSomos" asp-action="QuienesSomosVista" class="btn btn-outline-light">Saber mas</a>
            </div>
        </div>
        <!-- #endregion -->
        <!-- #region Jumbotron contacto-->
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Contacta con nosotros</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae iste exercitationem quos maxime cupiditate soluta architecto possimus,
                    ea illo error rerum magnam accusantium consequatur tempore iusto, laborum natus, eos reprehenderit.
                </p>
                <a asp-controller="Contacto" asp-action="ContactoVista" class="btn btn-outline-secondary">Contacto</a>
            </div>
        </div>
        <!-- #endregion -->
    </div>
    <!-- #endregion -->
</div>
<!-- #endregion -->