@{
    Layout = ViewBag.Layout;
}

@section title {
    <title>Delete cita</title>
}
<form method="post">
    <input type="hidden" name="idcita" value="@ViewBag.IdCita" />

    <div class="card" style="width:100%;">
       
        <div class="card-body">
            <h5 class="card-title">Confirmación</h5>
            <p class="card-text">¿Está seguro que desa eliminar la cita de @ViewBag.NomrePerropara con fecha <strong>@ViewBag.FechaCita</strong>?</p>
        </div>
     
        <div class="card-body">
            @*<a href="#" class="card-link">Card link</a>*@
            <button class="btn btn-danger" type="submit" name="elimina" value="true">Eliminar</button>
            <button class="btn btn-success" type="submit" name="elimina" value="false">Cancelar</button>

            @*<a href="#" class="card-link">Another link</a>*@
        </div>
    </div>

   
</form>
